<!DOCTYPE html>
<html>
<head>
    <title>Create tables</title>
</head>
<body>
    <a href="{% url 'home' %}"><h3>Back to home page</h3></a>
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>Error:{% if message.tags %} {% endif %} {{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <h1>Create Tables</h1>
    <form action="{% url 'create_table' %}" method="POST">
        {% csrf_token %}

        <div>
            <input type="text" name="name" placeholder="Table Name">
        {% for chip in chips %}
            <div>
                <select name="chip">
                    <option >{{ chip.denomination }}</option>
                </select>
                <input type="number" name="quantity" value="0">
            </div>
        </div>
        {% endfor %}
        <button type="submit">Submit</button>
    </form>

    <a href="{% url 'table_list' %}">All Tables</a>
</body>
</html>