<!DOCTYPE html>
<html>
<head>
    <title>tables</title>
</head>
<body>
    <h1>Tables</h1>
    <form action="{% url 'create_table' %}" method="POST">
        {% csrf_token %}

        <div>
            <input type="text" name="name" placeholder="Table Name">
        {% for chip in chips %}
            <div>
                <select name="chip">
                    <option >{{ chip.denomination }}</option>
                </select>
                <input type="number" name="quantity" value="0">
            </div>
        </div>
        {% endfor %}
        <button type="submit">Submit</button>
    </form>
    <h1>All Tables</h1>
    {% if tables %}
    <table>
        <thead>
            <tr>
                <th>Chip</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody>
            {% for table in tables %}
            <tr>
                <td>{{ table.denomination }}</td>
                <td>{{ table.quantity }}</td>
            </tr>
            {% endfor %}
        </tbody>
    {% else %}
        <p>No tables found</p>
    {% endif %}
</body>
</html>