<!DOCTYPE html>
<html>
    <head>
        <title>Slot Pit</title>
    </head>
    <body>
        <a href="{% url 'all_slot' %}">Back to Slots</a>
        <h1>Slot Pit</h1>
        <form  method="post">
            {% csrf_token %}
            {% if halls %}
                {% for hall in halls %}
                    <h1>{{ hall.name }}</h1>
                    <table border="1">
                        <thead>
                        <tr>
                            <th>Slot Name</th>
                            <th>Slot Type</th>
                            <th>BVB money</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for slot in hall.slot_machines.all %}
                            <tr>
                                <td>{{ slot.name }}</td>
                                <td>{{ slot.brand }}</td>
                                <td>
                                    <input type="text" name="bvb_money" placeholder="BVB money" value="">
                                </td>
                                <td>
                                    <button type="submit">Submit</button>
                                    <button onclick="window.location.href='{% url 'delete_slot_machine_from_pit' hall.id slot.id %}'">Delete From Hall</button>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% endfor %}

            {% else %}
                <p>No Hall</p>
            {% endif %}
        </form>
    </body>
</html>
