<!DOCTYPE html>
<html>
    <head>
        <title>Create Slot</title>
    </head>
    <body>
        <a href="{% url 'all_slot' %}">Back to Slots</a>
        <h1>Create Slot</h1>
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>Error:{% if message.tags %} {% endif %} {{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <form action="{% url 'create_slot' %}" method="POST">
            {% csrf_token %}
            <div>
                <label for="name">Slot Name</label>
                <input type="text" name="name" id="name">
            </div>
            <div>
                <label for="brand">Slot Type</label>
                <input type="text" name="brand" id="brand">
            </div>
            <button type="submit">Submit</button>
        </form>
    </body>
</html>